*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    z-index: 1;
}

html {
    font-family: 'EB Garamond', serif;
    font-size: 100%;
}

body {
    --color: #7a2048;
    background: linear-gradient(to top, #1e2761, var(--color));
    color: whitesmoke;
    background-attachment: fixed;
}

/* HEADER SECTION */
header {
    position: relative;
    height: 100vh;
}

.background {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: 0;
}

#easter-egg {
    position: relative;
    align-self: flex-start;
    margin-left: auto;
    border: none;
    border-top: 2rem solid whitesmoke;
    border-left: 2rem solid var(--color);
    outline: none;
    cursor: pointer;
}

#easter-egg:hover {
    border-top: 2rem solid #408ec6;
    transition: 0.3s;
}

.logo-container {
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: start;
}

.logo-container .logo {
    width: 10rem;
    height: 5rem;
}

.main-container {
    position: absolute;
    width: 100%;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    right: auto;
}

.main-container h1 {
    text-align: center;
    max-width: 40rem;
    margin-bottom: 2.5rem;
}

.main-container h4 {
    text-align: center;
    margin-bottom: 0.5rem;
}

.main-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 27rem;
}

.browse {
    align-self: flex-start;
    margin: 0.2rem;
    margin-left: 0;
}

.browse-with-minus {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

/* MINUS BTN */

.minus-btn {
    /* align-self: flex-start; */
    position: relative;
    width: 1.4rem;
    height: 1.4rem;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    border: 0.123rem solid;
    border-radius: 50%;
    border-color: #408ec6;
    background-color: whitesmoke;
    cursor: pointer;
    outline: none;
}

.minus-btn:hover {
    background-color: #408ec6;
    transition: 0.3s;
}

/* Horizontal bar */
.minus-btn::before {
    position: absolute;
    display: block;
    background-color: #1e2761;
    width: 11px;
    height: 2px;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(50%);
    content: " ";
}

/* ADD BTN */
.add-btn {
    align-self: flex-start;
    width: 1.4rem;
    height: 1.4rem;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    border: 0.123rem solid;
    border-radius: 50%;
    border-color: #408ec6;
    cursor: pointer;
    outline: none;
}

.add-btn:hover {
    background-color: #408ec6;
    transition: 0.3s;
}

/* Vertical bar */
.add-btn::after {
    position: relative;
    display: block;
    background-color: #1e2761;
    width: 0.125rem;
    height: 0.75rem;
    top: -4.2%;
    left: 43.75%;
    content: " ";
}

/* Horizontal bar */
.add-btn::before {
    position: relative;
    display: block;
    background-color: #1e2761;
    width: 0.75rem;
    height: 0.125rem;
    left: 15%;
    top: 34%;
    content: " ";
}

/* APPLY BTN */
#apply-btn {
    width: 20rem;
    height: 2rem;
    border: none;
    outline: transparent;
    color: #1e2761;
    cursor: pointer;
    border-radius: 5rem;
    margin-top: 2rem;
}

#apply-btn:hover {
    background-color: #408ec6;
    transition: 0.3s;
}
.page-brake {
    position: absolute;
    bottom: 0%;
    width: 100vw;
    height: 3px;
    background: linear-gradient(to right, transparent, whitesmoke, transparent);
}

/* MAIN SECTION */

/* main h1, main h2, main h3, main h2, main h3, main h4, main h5, main h6 {
    margin: 0.4rem;
} */
main * {
    margin: 0.4em;
}



#pie-chart {
    display: flex;
    flex-wrap: wrap;
}

#add-pie-button {
    width: 100px;
    height: 100px;
    margin: 10px;
}

input[type="file"]::-ms-browse {
    font: inherit;
    font-style: initial;
    width: 8rem;
    height: 2rem;
    border: none;
    outline: transparent;
    color: #1e2761;
    cursor: pointer;
    border-radius: 5rem;
    margin-right: 0.5rem;
}

input[type="file"]::-webkit-file-upload-button {
    font: inherit;
    font-style: initial;
    width: 8rem;
    height: 2rem;
    border: none;
    outline: transparent;
    color: #1e2761;
    cursor: pointer;
    border-radius: 5rem;
    margin-right: 0.5rem;
}

input[type="file"]::-webkit-file-upload-button:hover {
    background-color: #408ec6;
    transition: 0.3s;    
}
input[type="file"]::-ms-browse:hover {
    background-color: #408ec6;
    transition: 0.3s;  
}