*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: linear-gradient(to top, #1e2761, #7a2048);
    font-family: 'EB Garamond', serif;
    color: whitesmoke;
}

header {
    position: relative;
    height: 100vh;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.logo-container {
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.logo-container .logo {
    width: 10em;
    height: 5em;
}

.logo-container button {
    position: relative;
    align-self: flex-start;
    margin: 1em;
    margin-left: auto;
}

.main-container {
    position: absolute;
    width: 100%;
    bottom: 40%;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    right:auto;
}

.main-container h1 {
    text-align: center;
    margin-bottom: 2em;
}

.main-container h4 {
    text-align: center;
    margin-bottom: 1.5em;
}

#pie-chart {
    display: flex;
    flex-wrap: wrap;
}

#add-pie-button {
    width: 100px;
    height: 100px;
    margin: 10px;
}