*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    z-index: 1;
}

html {
    font-family: 'EB Garamond', serif;
    font-size: 100%;
}

body {
    --color: #7a2048;
    background: linear-gradient(to top, #1e2761, var(--color));
    color: whitesmoke;
}

header {
    position: relative;
    height: 100vh;
}

.background {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: 0;
}

#easter-egg {
    position: relative;
    align-self: flex-start;
    margin-left: auto;
    border: none;
    border-top: 2rem solid whitesmoke;
    border-left: 2rem solid var(--color);
    outline: none;
    cursor: pointer;
}

#easter-egg:hover {
    border-top: 2rem solid #408ec6;
    transition: 0.3s;
}

.logo-container {
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: start;
}

.logo-container .logo {
    width: 10rem;
    height: 5rem;
}

.main-container {
    position: absolute;
    width: 100%;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    right: auto;
}

.main-container h1 {
    text-align: center;
    max-width: 40rem;
    margin-bottom: 2.5rem;
}

.main-container h4 {
    text-align: center;
    margin-bottom: 0.5rem;
}

.main-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 27rem;
}

.browse-widget {
    align-self: flex-start;
    margin-left: 0.3rem;
}

.add-browse-widget {
    align-self: flex-start;
    margin-left: 0.3rem;
    width: 1.4rem;
    height: 1.4rem;
    margin-top: 0.25rem;
    border: 0.123rem solid;
    border-radius: 50%;
    border-color: #408ec6;
    cursor: pointer;
    outline: none;
}

.add-browse-widget:hover {
    background-color: #408ec6;
    transition: 0.3s;
}

/* Vertical bar */
.add-browse-widget::after {
    position: relative;
    display: block;
    background-color: #1e2761;
    width: 12.5%;
    height: 50%;
    left: 43.75%;
    content: " ";
}

/* Horizontal bar */
.add-browse-widget::before {
    position: relative;
    display: block;
    background-color: #1e2761;
    width: 50%;
    height: 12.5%;
    left: 25%;
    top: 32%;
    content: " ";
}

#apply-btn {
    width: 20rem;
    height: 2rem;
    border: none;
    outline: transparent;
    color: #1e2761;
    cursor: pointer;
    border-radius: 5rem;
    margin-top: 2rem;
}

#apply-btn:hover {
    background-color: #408ec6;
    transition: 0.3s;
}

#pie-chart {
    display: flex;
    flex-wrap: wrap;
}

#add-pie-button {
    width: 100px;
    height: 100px;
    margin: 10px;
}